
.works{
    padding-top: 30rem;
}

.section-title{
    text-align: center;
    text-transform: uppercase;
    color: var(--mainBlue);
}


.worktabs{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 30rem auto;

    background-color: var(--lightBlue);
    width: fit-content;
    border-radius: 50rem;
    overflow: hidden;
    border: 3rem solid var(--colorWhite);
    position: relative;

}

.tabs{
    background-color: transparent;
    border-radius: 50rem;
    padding: 5rem 20rem;
    font-size: 14rem;
    font-weight: 500;
    transition: all 0.3s;

}
.tabs:hover{
    background-color: var(--lightBlue);
}

.worktabs .active{
    background-color: var(--mainBlue);
    color: var(--colorWhite);
}



.worksGrid{
    margin-top: 50rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320rem, 1fr));
    gap: 20rem;
    margin-bottom: 50rem;
}

.workBox{
    background-color: var(--lightBlue);
    border-radius: 10rem;
    min-height: 340rem;
    overflow: hidden;
    border: 3px solid transparent;
    cursor: pointer;
    box-shadow: 0 5px 50px -10rem rgba(0,0,0,0.1);
    transition: all 0.3s;
}

.workBox:hover{
    border: 3rem solid var(--mainBlue);
    transform: scale(102%);
    box-shadow: 0 5px 50px 0 rgba(0,0,0,0.2);

}



.workImg{

}

.workImg img{
    height: auto;
    width: 100%;
    top: 0;

}

.work-info{
    padding: 10rem 20rem;
}

.work-info > * {
    margin-bottom: 10rem;
}



.work-head-title{
    font-size: 20rem;
    font-weight: 600;
    display: inline-block;
    line-height: 1.3;
}

.tags{
    padding: 0 10rem;
    background-color: var(--mainBlue);
    color: var(--colorWhite);
    font-size: 12rem;
    font-weight: 500;
    border-radius: 50rem;
    margin-right: 5rem;
}


