@import "src/styles/nav.css";
@import "src/styles/content.css";
@import "../styles/FontAwesome.css";
@import "src/styles/header.css";
@import "src/styles/skills.css";
@import "src/styles/works.css";

*,
::before,
::after{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root{

  font-size: 1px;

  --mainBlue: hsl(218, 100%, 50%);
  --lightBlue: hsl(218deg 100% 49.8% / 20%);
  --secondYellow: hsl(26deg 100% 52.94%);

  --colorWhite: hsl(0deg 0% 100%);
  --colorBack: hsl(0 0% 0%);
  --skillBorder: hsl(0, 0%, 80%);
  --colorGrey: hsl(0, 0%, 97%);

  --textBlue: hsl(219, 59%, 13%);
  --textGreen: #71fc00;

  --mainPoppins: Poppins, -apple-system, sans-serif;
  --secondFont: Poppins, sans-serif;

  --navWidth: 280rem;
  --innerPadding--sm: 0 30rem;
  --innerPadding--bg: 0 50rem;

}

h1 { font-size: 50rem; }
h2 { font-size: 40rem; }
h3 { font-size: 30rem; }
h4 { font-size: 25rem; }
h5 { font-size: 20rem; }
h6 { font-size: 15rem; }

li { list-style-type: none; }

img { width: 100%; }

body{
  font-size: 15rem;
  font-family: var(--mainPoppins);
  color: var(--textBlue);
}

html{
  scroll-behavior: smooth;
  font-size: 15rem;
  font-family: var(--mainPoppins);
}

.container{
  /*max-width: 1920rem;*/
  /*margin: 0 auto;*/
}

.innerPadding--sm{
  padding: var(--innerPadding--sm)
}

.innerPadding--bg{
  padding: var(--innerPadding--bg)

}


::-webkit-scrollbar {
  display: none;
}


a{
  text-decoration: none;
  color: var(--colorBack);
}



section{
  max-width: 1366rem;
  margin-left: auto;
  margin-right: auto;
}

button, .btn{
  outline: none;
  display: inline-block;
  border: 2px solid transparent;
  padding: 10rem 20rem;
  border-radius: 5rem;
  cursor: pointer;
  font-size: 17rem;
  font-family: var(--mainPoppins);
}

.btn--main{
  color: var(--colorWhite);
  background-color: var(--mainBlue);
  border-radius: 5rem;
  display: inline-block;
  border: 2px solid var(--mainBlue);
  text-decoration: none;
  transition: all 0.2s
}




